.activity {
    list-style-type: none; 
    background-color: lightgray;
    text-decoration: none;
    color: black;
    border-radius: 10px; 
    /* margin-right: 20px; */
    margin-top: 40px;
    width: 80vw;
  }

.activity:hover {
    list-style-type: none; 
    background-color:#F2B722;
    text-decoration: none;
    border: 2px solid black;
    color: black;
}

.activity-link {
    text-decoration: none;
    color: black;
}

.activity-link:hover {
    background-color: black;
    color: black;
    /* font-weight: bold; */
}

.activity-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.activity-name {
    font-weight: bold;
}