/* COMMUNITY DASHBOARD PAGE CSS */

*{
  /* border: 1px solid grey; */
}

.page-content {
  /* display: flex; */
  /* flex-direction: row; */
  margin: auto;
}

.today-average-condition-summary {
  display: flex;
  flex-direction: row;
}

.today-avg-condition-details {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  color: var(--text-dark);
  width: 80vw;
  justify-self: stretch;
}

.today-avg-condition-details > .grid-item {
  padding: 10px;
  margin: 2vw;
  border-radius: 7px;
  background: var(--light-grey);
  border: 1px solid rgb(194, 194, 194);
}

#community-leader-dashboard {
  padding: 2px;
  border-radius: 7px;
}

#community-leader-dashboard-headers {
  border-radius: 7px;
}


