/* COMMUNITY DASHBOARD CSS */

#community-leader-dashboard {
  background: var(--light-grey);
  border-radius: 5px;
}

#community-leader-dashboard-headers {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  padding: 5px;
  /* border: 1px solid grey; */
  background: var(--ochre);
}



