/* ADD ACTIVITY LOG CSS */

#new-activity-log-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  min-width: 300px;
  background: var(--light-grey);
  border-radius: 10px;
  padding: 20px;
  margin: auto; 
}

#log-title-input, #log-date-input {
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: clamp(14px, 2.8vmin, 20px);
}

#log-title-input {
  width: 50vw
}

.label-input-pair {
  display: grid;
  grid-template-columns: 20vw 20vw;
  font-size: clamp(14px, 2.8vmin, 20px);
  padding: 0.5vh;
}

.label-input-pair select {
  font-size: clamp(14px, 2.5vmin, 20px);
  margin-left: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  min-width: 100px;
  height: 2vw;
  min-height: 20px;
  padding-left: 10px;
}

#description-textarea {
  border-radius: 5px;
  width: 50vw;
  font-size: 16px;
  border: 1px solid lightgray;
}