
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
    background-color: #F2F1F0    ; /* Grey background color */
  }
  
.form {
    width: 75vw; /* Adjust the width as needed */
    padding: 50px;
    background-color: rgb(40, 156, 39, 0.6);
    color: black;
    border-radius: 7px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
  }
  