
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
    background-color: #F2F1F0    ; /* Grey background color */
  }
  
.form {
    width: 600px; /* Adjust the width as needed */
    padding: 50px;
    background-color: #289c27;
    color: black;
    border-radius: 7px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
  }


  .log-in-button {
    
    /* position: absolute;
    top:50%;
    background-color: #04AA6D; Green
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 176px; */
  }
  