/* PROFILE PAGE CSS */

.user-profile {
  width: 80vw;
  margin-top: 3vh;
  padding: 30px;
  margin: auto;
  background: var(--light-grey);
  font-size: 1.2em;
  border-radius: 7px;
}

.profile-button {
  width: 20vw;
  margin: 50px 30px 50px 30px;
  padding: 1vmin;
  color: #FFFFFF;
  background-color: var(--ochre);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

#logout-button {
  background: var(--dark-green);
  margin-top: 30px;
}

.margin {
  margin-top: 30px;
}

.big-margin {
  margin-top: 150px;
}

.header {
  color: black;
}