.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
    background-color: #F2F1F0    ; /* Grey background color */
  }

.signup-form {
    width: 6000px; /* Adjust the width as needed */
    padding: 50px;
    background-color: #32CD30; /* Green box color */
    border-radius: 7px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
  }