/* HOME PAGE CSS */

*{
  /* border: 1px grey solid; */
}

.page-content {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  /* width: 90vw; */
}

.today-avg-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather-icon {
  width: 20%;
  display: block;
  margin: 0 auto; 
}

#today-avg-forecast, #today-recommended-activity {
  background: rgb(236, 236, 236);
  padding: 10px;
  width: 80vw;
  border-radius: 5px;
}

#today-avg-forecast {
  /* align-self: flex-start; */
}

#today-recommended-activity, #log-activity-button {
  margin-top: 30px;
}
