/* HOME PAGE CSS */

*{
  /* border: 1px grey solid; */
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 90vw; */
}

/* .today-avg-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

.weather-icon {
  width: 20%;
  display: block;
  margin: 0 auto; 
}

#today-avg-forecast, #today-recommended-activity {
  background: rgb(236, 236, 236);
  padding: 10px;
  width: 80vw;
  border-radius: 2vmin;
}

#today-avg-forecast {
  margin-top: 30px;
}

#today-recommended-activity {
  margin-top: 30px;
}

#log-activity-button {
  margin-top: 50px;
}
